[% META title = 'Job summary' -%]

<table>
  <tr>
[% FOREACH g IN groups -%]
    <th>[% g %]</th>
[% END -%]
    <th># jobs</th>
  </tr>
[% WHILE (sum = job_summary.next) -%]
  <tr>
[%   FOREACH g IN groups -%]
    <td>[% sum.get_column( g ) %]</td>
[%   END -%]
    <td>[% sum.get_column('job_count') %]</td>
  </tr>
[% END -%]
</table>
