[% meta.title = species_db_title('analysis ' _ analysis.logic_name) -%]

<dl class="analysis">
[% FOREACH key IN keys -%]
 <dt>[% key %]</dt>
 <dd>[% analysis.$key || '&nbsp;' %]</dd>
[% END %]
[% IF db_type == 'pipe' -%]
 <dt>Jobs</dt>
 <dd>[% analysis.job_count %]</dd>
[% END %]
</dl>
