[% META title = "Pipeline for species (fix me - which?)" -%]

<p>
   Pipeline for [% species %].
</p>
<dl class="species">
  <dt>analyses</dt>
  <dd><a class="analyses" href="[% c.uri_for_action('/analysis/index', [species]) %]">analyses for <em>[% species %]</em></a>
</dl>
