[% meta.title = species_db_title("align_stages for session $session.align_session_id") -%]

[% INCLUDE 'align/session_details.tt2' -%]

<table>
  <tr>
   <th>ID</th>
   <th>stage</th>
   <th>timestamp</th>
   <th>script</th>
  </tr>
[% FOREACH s IN stages -%]
  <tr>
    <td>[% s.align_stage_id %]</td>
    <td>[% s.stage %]</td>
    <td>[% s.ts %]</td>
    <td>[% s.script %]</td>
  </tr>
[% END -%]
</table>
